/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAF0E6;
    margin: 0;
    padding: 30px; /* Adding padding to the body to prevent sticking at the top */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns content towards the top */
    min-height: 100vh;
}

/* Main Container */
section {
    background-color: white;
    padding: 2rem;
    width: 90%;
    max-width: 1000px;
    box-shadow: 01 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    margin-top: 30px; /* Adding margin to ensure there's space from the top */
}

/* Header */
header {
    background-color: #352F44;
    color: white;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

header h1 {
    font-size: 1.75rem;
    margin: 0;
}

header p {
    margin: 1rem 0 0;
}

/* Section Titles */
h2 {
    color: #5C5470;
    margin-bottom: 1rem;
  
}

/* List Items */
ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #B9B4C7;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
    border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 600px) {
    section {
        padding: 1.5rem;
    }

    header {
        padding: 1.5rem;
    }
}
